@model SendFax
@{
    ViewBag.Title = "Send";
}

<div class="row">
    <div class="col-lg-12">
        @if (!string.IsNullOrWhiteSpace(Model.WarningMessage))
        {
            <div class="alert alert-warning m-top-25" style="margin-bottom: 0; white-space: pre;">
                <h4 style="margin-bottom: 0;">@Html.Raw(Model.WarningMessage)</h4>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
        {
            <div class="alert alert-success m-top-25" style="margin-bottom: 0; white-space: pre;">
                <h4 style="margin-bottom: 0;">@Html.Raw(Model.SuccessMessage)</h4>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div class="alert alert-danger m-top-25" style="margin-bottom: 0; white-space: pre;">
                <h4 style="margin-bottom: 0;">@Html.Raw(Model.ErrorMessage)</h4>
            </div>
        }

        <br /><br />

        <iframe id="iframe" src="@Url.Action("html", new { id = Model.Id })"></iframe>
    </div>
</div>

