@model Stats
@{ 
    Layout = null;
}

Faxes: @Model.Faxes | Pages: @Model.Pages | Cost: @ModelHelper.CentsToDollars(Model.Spent) | <a href="https://www.paypal.me/ajhoffer">Pitch In! (@ModelHelper.CentsToDollars(Model.Credit) remaining)</a>